---
# Only the main Sass file needs front matter (the dashes are enough)
nav_exclude: true
---
@charset "utf-8";

@import
        "settings"
;

$theme-color: $contrast-color;

$background-color: $bg-color;
$brand-color:      $contrast-color;

$grey-color:       $border-color;
$grey-color-light: $bg-color;
$grey-color-dark:  $text-color;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "blair",
        "blair_layout"
;
